# fly.toml app configuration file generated for bandit-fly on 2025-05-15T21:23:48+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bandit-fly'
primary_region = 'den'

[build]

[http_service]
  internal_port = 4000
  force_https = true
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
